@CHARSET "ISO-8859-1";


.body {
  padding-top:50px;
  background-color:#009ACD;
  border-style: solid;
  border-color: black;
  height: 220px;
  width: 600px;
  text-align: center;
  }
  .imagens {
   float: left;
	border-style: solid;
  	border-color: black;
  	height: 250px;
  	width: 300px;
  	
  }
